
 <style>
 .bg
 {
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS2VRQR85YqOPNicpaLikhrx0mLSbWmXI42fPXlxRAxmtkWbii8");
     background-size:cover;
     min-height:700px;
 }
 .footer {
  position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  
   color: white;
   text-align: center;
}
     .container {
        padding: 16px;
         background: rgba(207, 80, 80, 0.644); /* This is for ie8 and below */
         background: rgba(204, 79, 79, 0.5); 
                 }
              </style>
              <body class="bg">
                  <header>
                
      
                      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                          <a class="navbar-brand" href="#">
                              <img src="/assets/final.png" style="width:40px;">
                            </a>
                             
                            <button class="navbar-toggler" type="button" data-toggle="collapse" style="color:white" data-target="#collapsibleNavbar">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                           
                            <ul class="navbar-nav">
                                <div class="navbar-nav ml-auto">
                               
                                    <a class="nav-link" routerLink="/custpage"><i class="fa fa-user-circle" aria-hidden="true"></i>{{userser.activeusername}}</a>
                                  
                                </div>
                              <li class="nav-item ml-auto">
                                <a class="nav-link" routerLink="/custpage"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                              </li>
                              <li class="nav-item ml-auto">
                                  <a class="nav-link" routerLink='/cusfaq'>FAQ</a>
                                </li>
                           <div class="navbar-nav ml-auto">
                               
                              <a class="nav-link" (click)="logout()" routerLink='/home'>logout</a>
                            
                          </div>
                            </ul>
                            </div>
                          </nav> 
                      <br/>
                      <br/>
                            </header>
                           
              <div class="container bg1">
                  <b>Book the slot here</b> 
                  <hr>
                    <form (ngSubmit)="onSubmit(blooddetails)" #loginForm="ngForm">
               
                    <div class="row">
                        <div class="col-sm" >
                          <div class="form-group">
                           <label for="bgrp"><b>Blood group</b></label>  <br/>
                           <select  id="bgrp" [(ngModel)]="blooddetails.bloodGroup" required [class.is-invalid]="bloodGroup.invalid && bloodGroup.touched" class="form-control" #bloodGroup="ngModel" name="bloodGroup">
                              <option value="Apositive">A+</option>
                <option value="Anegative">A-</option>
                <option value="Bpositive">B+</option>
                <option value="Bnegative">B-</option>
                <option value="Opositive">O+</option>
                <option value="Onegative">O-</option>
                <option value="ABpositive">AB+</option>
                <option value="ABnegative">AB-</option>
                      
                          </select>  
                          <b class="text-danger" [class.d-none]="bloodGroup.valid || bloodGroup.untouched">
                                Bloodgroup is Required
                          </b>
                          </div>
                         </div>
           
                
                        <div class="col-sm">    
                            <div class="form-group">
                                <label for="state"><b>State</b></label>
                                <select class="form-control" required [class.is-invalid]="state.invalid && state.touched" id="state" name="state" (change)="AssignArea(state.value)" [(ngModel)]="blooddetails.state" #state="ngModel">
                                        <option *ngFor="let st of states" [value]="st">{{st}}</option>
                                </select>
                                <b class="text-danger" [class.d-none]="state.valid || state.untouched">State is Required</b>
                            </div>   
                        </div>
                    </div>
                   <div class="row">
                      <div class="col-sm" >
                          <div class="form-group">
                              <label for="area"><b>Area</b></label>
                              <select class="form-control" required [class.is-invalid]="area.invalid && area.touched" id="area" name="area" [(ngModel)]="blooddetails.area" #area="ngModel">
                                  <option *ngFor="let ar of areas" [value]="ar">{{ar}}</option>
                              </select>
                              <b class="text-danger" [class.d-none]="area.valid || area.untouched">Area is Required</b>
                          </div>   
                      </div>
              
                      <div class="col-sm">      
                          <div class="form-group">                     
                              <label for="pinCode"><b>Pincode</b></label><br/>
                              <input type="text" pattern="[4-9]{1}[0-9]{5}" maxlength="6"  class="form-control" required [class.is-invalid]="pinCode.invalid && pinCode.touched" id="pinCode"  placeholder="Enter Pincode" name="pinCode" [(ngModel)]="blooddetails.pinCode" #pinCode="ngModel">
                              <b class="text-danger" [class.d-none]="pinCode.valid || pinCode.untouched">
                                    Pincode is Required or Invalid
                              </b>
                         </div>
                      </div>
                      <div class="col-sm">      
                            <div class="form-group">                     
                                <label for="contact"><b>Contact</b></label><br/>
                                <input type="text" pattern="[6-9]{1}[0-9]{9}" maxlength="10"  class="form-control" required [class.is-invalid]="contact.invalid && contact.touched" id="contact"  placeholder="Enter Contact" name="contact" [(ngModel)]="blooddetails.contact" #contact="ngModel">
                                <b class="text-danger" [class.d-none]="contact.valid || contact.untouched">
                                   Contact is Required or Invalid
                                </b>
                           </div>
                        </div>
                </div>
                <hr>
               <div class="row">
                      <div class="col pd">
                        <button type="submit"  class="btn btn-default btn-danger mx-auto" [disabled]="loginForm.invalid">Donate</button><br/>
                         <!-- <p style="color: whitesmoke;">{{msg}}</p><br/> -->
                       
                      </div>
               </div>  
                   </form>
         
        </div>
        <div class="container bg1" *ngIf=flag>
           
                <form (ngSubmit)="onSubmitslot(slotdetails)" #loginForm="ngForm">
           
                <div class="row">
                    <div class="col-sm" >
                      <div class="form-group">
                       <label for="hospital"><b>Hospital</b></label>  <br/>
                       <select  id="hospital" [(ngModel)]="slotdetails.hospital" placeholder="Enter Hospital" required [class.is-invalid]="hospital.invalid && hospital.touched" class="form-control" #hospital="ngModel" name="hospital">
                          <option value="Apollo">Apollo</option>
                          <option value="Kamatchi">Kamatchi</option>
                          <option value="A.V.M">A.V.M</option>
                          <option value="Global">Global</option>
                          <option value="Velammal">Velammal</option>
                      </select>  
                      <b class="text-danger" [class.d-none]="hospital.valid || hospital.untouched">
                            Hospital is Required
                      </b>
                      </div>
                     </div>
       
            
                    <div class="col-sm">    
                        <div class="form-group">                  
                          <label for="city"><b>City</b></label>  <br/>
                      <select   id="city" [(ngModel)]="slotdetails.city"  placeholder="Enter City" required [class.is-invalid]="city.invalid && city.touched" class="form-control" #city="ngModel" name="city">
                           
        <option value="Shollinganalur">Shollinganalur</option>
        <option value="PTC">PTC</option>
        <option value="Tnagar">Tnagar</option>
        <option value="Medavakkam">Medavakkam</option>
        <option value="Tuticorin">Tuticorin</option>
                          
                  
                      </select>  
                      <b class="text-danger" [class.d-none]="city.valid || city.untouched">
                            City is Required
                      </b>
                      </div>
                    </div>
                </div>
               <div class="row">
                  <div class="col-sm" >
                      <div class="form-group">
                      <label for="dateForDonating"><i class="fa fa-calendar" aria-hidden="true"></i><b>Date</b></label>  <br/>
                      <input type="date" class="form-control" placeholder="Enter Date" required [class.is-invalid]="dateForDonating.invalid && dateForDonating.touched" id="dateForDonating"  placeholder="Enter Date" name="dateForDonating" [(ngModel)]="slotdetails.dateForDonating" #dateForDonating="ngModel"  min='2019-11-15' max='2020-05-10'>
                      </div>
                     
                      <b class="text-danger" *ngIf="checkdate(dateForDonating.value)" >
                           Date is Required or invalid
                      </b>
       
                  </div>
          
                  <div class="col-sm">      
                      <div class="form-group">                     
                          <label for="timeForDonating"><b>Time</b></label><br/>
                          <select id="timeForDonating"  placeholder="Enter Hospital" required [class.is-invalid]="timeForDonating.invalid && timeForDonating.touched" [(ngModel)]="slotdetails.timeForDonating" class="form-control" #timeForDonating="ngModel" name="timeForDonating">
                           
                                <option value="8.00AM-10.00AM">8.00AM-10.00AM</option>
                                <option value="10.00AM-12.00PM">10.00AM-12.00PM</option>
                                <option value="2.00PM-4.00PM">2.00PM-4.00PM</option>
                                <option value="4.00AM-6.00PM">4.00AM-6.00PM</option>
                                </select>
                     </div>
                     <b class="text-danger" [class.d-none]="timeForDonating.valid || timeForDonating.untouched">
                            Time is Required
                     </b>
                  </div>
                 
            </div>
            <hr>
           <div class="row">
                  <div class="col pd">
                    <button type="submit" [disabled]="loginform.invalid" class="btn btn-default btn-danger mx-auto " >Book Slot</button><br/>
                   
                    <div *ngIf="success">  <div class="alert alert-danger" *ngIf="check">
                      <strong>{{msg1}}</strong> 
                    </div>
                    <div class="alert alert-success" *ngIf="!check">
                      <strong>{{msg1}}</strong> 
                    </div></div>
                  
                  </div>
           </div>  
               </form>
     
       </div>
       <footer class="bottom-footer footer bg-dark">
          <p style="margin-left:50px">copyright 2019</p>
         </footer>
  </body>