<style>
   .bg
 {
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS2VRQR85YqOPNicpaLikhrx0mLSbWmXI42fPXlxRAxmtkWbii8");
     background-size:cover;
     min-height:700px;
 }
    
 .container {
  padding: 16px;
  background: rgba(207, 80, 80, 0.644); /* This is for ie8 and below */
      background: rgba(204, 79, 79, 0.5); 
}
         
           .card {
        min-height: 200px;
    }
    .card{
        text-shadow: voff blur ;
        text-align: center;
    }
           .footer {
        
          left: 0;
          bottom: 0;
          width: 100%;
         position: fixed;
          color: white;
          text-align: center;
       }
       .jumbotron {
          background: rgb(200, 54, 54); /* This is for ie8 and below */
          background: rgba(200, 54, 54, 0.5); 
       }
       .card
       {
         background: rgba(37, 3, 3, 0.425); /* This is for ie8 and below */
          background: rgba(20, 5, 1, 0.836); 
          color: whitesmoke;
       }
       </style>
        <body class="bg">
    <header>
      
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">
                <img src="/assets/final.png" style="width:40px;">
              </a>
               
              <button class="navbar-toggler" type="button" data-toggle="collapse" style="color:white" data-target="#collapsibleNavbar">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
             
              <ul class="navbar-nav">
                  <div class="navbar-nav ml-auto">
                 
                      <a class="nav-link" routerLink="/custpage"><i class="fa fa-user-circle" aria-hidden="true"></i>{{userser.activeusername}}</a>
                    
                  </div>
                <li class="nav-item ml-auto">
                  <a class="nav-link" routerLink="/custpage"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" routerLink='/cusfaq'>FAQ</a>
                  </li>
             <div class="navbar-nav ml-auto">
                 
                <a class="nav-link" (click)="logout()" routerLink='/home'>logout</a>
              
            </div>
              </ul>
              </div>
            </nav> 
                <br/>
                <br/>
       </header>
        
   <div class="container">   
        <b>Post the blood requirements</b>
        <hr>  
        <form class="bg1" (ngSubmit)="postreq(user)" #registerform="ngForm" >
       <div class="row">
         <div class="col-sm">
            <div class="form-group">
                <label for="bloodGroup"><b>Blood group</b></label> 
                <select  class="form-control" id="bloodGroup" [(ngModel)]="user.bloodGroup" required [class.is-invalid]="bloodGroup.invalid && bloodGroup.touched" #bloodGroup="ngModel" name="bloodGroup">
                    <option value="Apositive">A+</option>
                <option value="Anegative">A-</option>
                <option value="Bpositive">B+</option>
                <option value="Bnegative">B-</option>
                <option value="Opositive">O+</option>
                <option value="Onegative">O-</option>
                <option value="ABpositive">AB+</option>
                <option value="ABnegative">AB-</option>
                </select>
                <b class="text-danger" [class.d-none]="bloodGroup.valid || bloodGroup.untouched">
                    Bloodgroup is Required
              </b>
            </div>
           
         </div>
         <div class="col-sm">
            <div class="form-group">
                <label for="state"><b>State</b></label>
                <select class="form-control" required [class.is-invalid]="state.invalid && state.touched" id="state" name="state" (change)="AssignArea(state.value)" [(ngModel)]="user.state" #state="ngModel">
                        <option *ngFor="let st of states" [value]="st">{{st}}</option>
                </select>
                <b class="text-danger" [class.d-none]="state.valid || state.untouched">State is Required</b>
            </div> 
         </div>
        
       </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="area"><b>Area</b></label>
                    <select class="form-control" required [class.is-invalid]="area.invalid && area.touched" id="area" name="area" [(ngModel)]="user.area" #area="ngModel">
                        <option *ngFor="let ar of areas" [value]="ar">{{ar}}</option>
                    </select>
                    <b class="text-danger" [class.d-none]="area.valid || area.untouched">Area is Required</b>
                </div> 
              </div>
              <div class="col-sm">
  
                  <div class="form-group">
                      <label for="pinCode"><b>Pincode</b></label>
                      <input type="text"  pattern="[4-9]{1}[0-9]{5}" maxlength="6"  class="form-control" id="pinCode"  placeholder="Enter Pincode" name="pinCode" [(ngModel)]="user.pinCode" #pinCode="ngModel" required>
                      <b class="text-danger" [class.d-none]="pinCode.valid || pinCode.untouched">
                          Pincode is Required or Invalid
                    </b>
                    </div>
                 
              </div>
              <div class="col-sm">
                  <div class="form-group">
                      <label for="contact"><b>Contact</b></label>
                      <input type="text"  pattern="[6-9]{1}[0-9]{9}" maxlength="10" class="form-control" id="contact"  placeholder="Enter Contact" name="contact" [(ngModel)]="user.contact" #contact="ngModel" required>
                      <b class="text-danger" [class.d-none]="contact.valid || contact.untouched">
                          Contact is Required or Invalid
                       </b>
                    </div>
                 
              </div>
        </div>       
            <hr>   
            <button type="submit" class="btn btn-default bg-danger" [disabled]="registerform.invalid">Add Requirements</button>
       
        </form>   
      </div>
      
        
  
  <div class="card" *ngIf="flag">
      <div class="card-body mx-auto"> 
          <div class="alert alert-success">
            <strong>Blood Requirements added successfully</strong>
            
        </div>
        <button class="btn btn-default btn-danger" routerLink="/custpage">Go Back</button></div>   </div>
        

      
        <footer class="bottom-footer footer bg-dark">
                <p style="margin-left:50px">copyright 2019</p>
              </footer>
    </body>    
    
